@import "../vendor/variables";

#s-jumbotron {
  background-image: url("@/assets/images/food-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.s-jumbotron-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 10;
}

.jumbotron-container {
  position: relative;
  height: 60vh;
  width: 60vh;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  padding: 5rem;

  .jumbotron-review__card {
    position: absolute;
    bottom: 10%;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0 11px 39px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5%);
    border-radius: 17px;
    padding: 1.2rem 1rem;
    min-width: 300px;
  }
}
